<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jkartkowka.jkartkwkamobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LecturerMenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="jkartkowka.jkartkwkamobile.LecturerMenuActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentMenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="jkartkowka.jkartkwkamobile.StudentMenuActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopQuizListActivity"
            android:label="@string/title_activity_popQuiz_list" />
        <activity
            android:name=".GroupsListActivity"
            android:label="@string/title_activity_groups_list" />
        <activity
            android:name=".CheckGroupsListActivity"
            android:label="@string/title_activity_check_groups_list" />
        <activity
            android:name=".GroupMembersListActivity"
            android:label="@string/title_activity_group_details_list" />
        <activity
            android:name=".GradesListActivity"
            android:label="@string/title_activity_grades_list" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4f873f6ee95ad4d7d3ae9e3704481e62cd04ed76" />

        <activity android:name=".LecturerAuthenticationActivity"></activity>
        <activity android:name=".MultipleAnswerPopQuizActivity"></activity>
    </application>


</manifest>
